node_modules
dist
.DS_Store
*.local
.env
.env.*
!.env.example
public/media/*.mp4
public/media/*.webm
public/media/*.mkv
public/media/*_glbs/
public/media/*_mv/
public/media/*.log
certs/
*.tsbuildinfo
